<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>FORMULARIO</title>
</head>
<body>
    <h1>Formulario de teste HTTP</h1>
    <form action="/cadastro" method="POST">
        <div>
            <label for="nome">Nome: </label>
            <input type="text" name="nome"id="input_nome" placeholder="Digite seu nome"required>
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="email" name="email"id="input_email" placeholder="Digite seu Email"required>
        </div>
        <div>
            <label for="senha">Senha: </label>
            <input type="password" name="senha" id="input_senha" placeholder="Digite ssua Senha"required>
        </div>
        <div>
            <label for="endereco">Endereço: </label>
            <input type="text" name="endereco"id="input_endereco" placeholder="Digite seu endereco"required>
        </div>
        <button type= "submit">Adicionar usuario</button>
    </form>
    
</body>
</html>